<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Owen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="LiteConnectionString" connectionString="Data Source=ChessBaseLite.db;"
   providerName="System.Data.SQLite" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>


	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider"
     invariant="System.Data.SQLite"
     description=".NET Framework Data Provider for SQLite"
     type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	<userSettings>
		<Owen.Properties.Settings>
   <setting name="PythonPath" serializeAs="String">
    <value />
   </setting>
   <setting name="LiteConnectionString" serializeAs="String">
    <value>Data Source=ChessBaseLite.db;</value>
   </setting>
  </Owen.Properties.Settings>
	</userSettings>
</configuration>